[submodule "birdatron_9000"]
	path = birdatron_9000
	url = https://github.com/tanaes/birdatron_9000.git
[submodule "OvoEasy_Assembly"]
	path = OvoEasy_Assembly
	url = https://github.com/tanaes/OvoEasy_Assembly.git
[submodule "OvoEasy_Code"]
	path = OvoEasy_Code
	url = https://github.com/tanaes/OvoEasy_Code.git
[submodule "PCBs/incubator_controller"]
	path = PCBs/incubator_controller
	url = https://github.com/tanaes/OvoEasy_incubator_controller.git
[submodule "PCBs/light_bar"]
	path = PCBs/light_bar
	url = https://github.com/tanaes/OvoEasy_light_bar.git
